.container{
    width: 400px;
    height: 300px;
    position: relative;
    top: 200px;
    left:200px;
    overflow: hidden;
}

.list{
    width: 2000px;
    height: 300px;
    position: absolute;
    left:-400px;
}

.item{
    float: left;
    width: 400px;
    height: 300px;
}